h1{
    color: white;
}

body {
    background-color: black;
}

#resetBtn{
    display: block;
    margin-left: 230px;
    margin-bottom: 40px;
}

#container {
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0px;
    background-color: black;
    
}

.content {
    width: 10px;
    height: 10px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid white;
}